<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <input type="text" [(ngModel)]="title">
  <app-server></app-server>
</div>

